@model Movie
@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}


<div class="hero common-hero" style="height:300px;" >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 class="animate__animated animate__bounceInDown 	"> Film Sayfası</h1>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog detail section-->
<div class="page-single" style="margin:0px; padding:0px;">
	<br />
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="blog-detail-ct">
					<h1 class="animate__animated animate__slideInLeft " >@Model.MovieName</h1>
					<span class="time">@Model.MovieDate.Year</span>
					<iframe width="900" height="500" src="@Model.MovieLink" title="@Model.MovieName" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>			
					<br /><br />
					<h3 style="color:white;">@Model.MovieName</h3>
					<br />
					<p>
@Model.MovieDescription
</p>

					<div class="flex-it flex-ct">

						<p style="font-size:20px;line-height: 45px;	 font-weight:300; text-align:center;">
Bu ve bunun gibi birçok filmi sitemizde bulabilirsin . Lütfen gezinmeye devam edin .						</p>
						<img src="@Model.MovieImage" alt="">
					</div>
					<!-- share link -->
					<div class="flex-it share-tag">
						<div class="social-link">
							<h4>Paylaş</h4>
							<a href="javascript:void(0)" onclick="shareOnFacebook()"><i class="ion-social-facebook"></i></a>
							<a href="javascript:void(0)" onclick="shareOnTwitter()"><i class="ion-social-twitter"></i></a>
							<a href="instagram://library?AssetPath=<URL>&InstagramCaption=<YAZI>" target="_blank"><i class="ion-social-instagram"></i></a>
						
						</div>
						<div class="right-it">
							<h4>Tags</h4>
							<a href="">Gray,</a>
							<a href="">Film,</a>
							<a href="">Poster</a>
						</div>
					</div>
					<!-- comment items -->
					
						@await Component.InvokeAsync("_MovieDetailComment", new { movieId = ViewBag.MovieId })

					@Html.Partial("AddComment", new Comment { MovieID = ViewBag.MovieId })


					<!-- comment form -->
				</div>
			</div>



			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="sidebar">


					@await Component.InvokeAsync("_MovieDetailsCategories")

					@await Component.InvokeAsync("_MovieDetailsLast5Movie")

					
					
					<a href="#"><div class="ads" style="width:300px">
						<img src="~/images/bagis2.gif" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of  blog detail section-->

<script>
function shareOnFacebook() {
	var url = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(window.location.href);
	window.open(url, '_blank');
}

function shareOnTwitter() {
	var url = "https://twitter.com/intent/tweet?url=" + encodeURIComponent(window.location.href);
	window.open(url, '_blank');
	}</script>